* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgb(29, 29, 29);
  width: 320px;
  margin: 50px auto;
}

.text-field {
  width: 320px;
  background-color: rgb(29, 29, 29);
  height: 55px;
  padding: 5px;
}

.text-field input {
  width: 310px;
  height: 50px;
  font-size: 32px;
}

.tombol:hover,
#reset:hover {
  background-color: rgb(104, 201, 168);
}

.tombol,
#reset {
  width: 50px;
  background-color: rgb(83, 83, 83);
  text-align: center;
  padding: 10px;
}

.container-tombol {
  background-color: rgb(29, 29, 29);
  width: 320px;
  padding: 5px;
  display: flex;
  color: white;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 5px;
}
